<mat-toolbar class="header">
    <span class="app-logo">App Grid Angular</span>
    
    <span class="example-spacer"></span>
    
    <button mat-button [routerLink]="['/']" routerLinkActive="active">
    Inicio
    </button>
    
    <span class="menu-spacer"></span>
    <h5>CarlosL928</h5>
    <a
    
    mat-icon-button
    target="_blank"
    aria-label="Github Repo link"
    href="https://github.com/CarlosL928/Angular_SIgnals"
    >
    <img src="/assets/images/github-icon.svg"/>
    </a>
    </mat-toolbar>